*{
  outline: none;
  text-decoration: none;
  list-style-type: none;
}
*html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}

#container{
  width: 100%;
}

#navbar{
  width: 80%;
  height: 100px;
  border: 1px solid silver;
  display: block;
  margin: 0 auto;
  position: relative;
  
}

#brand{
  width: 30%;
  height: 100px;
}

@keyframes brandImage{
  from{left: 0;
  
  }
  to{left: 70px;
  
  }
}

#brandImg{
  animation-name: brandImage;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
}
