*{  
    outline: none;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
}

#container{
    width: 100%;
    height: auto;
    }

/*                                                                            navbar*/

#navbar{
    width: 80%;
    min-height: 100px;
    display: block;
    margin: 20px auto;
    position: relative;
}

/*                                                                              brand*/

#navbar #brand{
    width: 300px;
    height: 80px;
    margin: 10px;
    float: left;
    position: relative;
    display: block;
}

@-webkit-keyframes brandImage{
    0%{
        left: 0;
        transform: rotate(0);
    }
    50%{
        left: 230px;
        transform: rotate(360deg);
    }
    100%{
        left: 0;
        transform: rotate(360deg);
    }
}

@-moz-keyframes brandImage{
    0%{
        left: 0;
        transform: rotate(0);
    }
    50%{
        left: 230px;
        transform: rotate(360deg);
    }
    100%{
        left: 0;
        transform: rotate(360deg);
    }
}


@-o-keyframes brandImage{
    0%{
        left: 0;
        transform: rotate(0);
    }
    50%{
        left: 230px;
        transform: rotate(360deg);
    }
    100%{
        left: 0;
        transform: rotate(360deg);
    }
}


@keyframes brandImage{
    0%{
        left: 0;
        transform: rotate(0);
    }
    50%{
        left: 230px;
        transform: rotate(360deg);
    }
    100%{
        left: 0;
        transform: rotate(360deg);
    }
}

#navbar #brand #brandImg{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
    -webkit-animation: brandImage 4s ease 1s alternate;
    -moz-animation: brandImage 4s ease 1s alternate;
    -o-animation: brandImage 4s ease 1s alternate;
    animation: brandImage 4s ease 1s alternate;
}

@-webkit-keyframes title{
    0% {opacity: 0; color: white;}
    50%{ opacity: .5;color: cornsilk;}
    100%{opacity: 1;color: silver;}
}

@-moz-keyframes title{
    0% {opacity: 0; color: white;}
    50%{ opacity: .5;color: cornsilk;}
    100%{opacity: 1;color: silver;}
}

@-o-keyframes title{
    0% {opacity: 0; color: white;}
    50%{ opacity: .5;color: cornsilk;}
    100%{opacity: 1;color: silver;}
}

@keyframes title{
    0% {opacity: 0; color: white;}
    50%{ opacity: .5;color: cornsilk;}
    100%{opacity: 1;color: silver;}
}
#navbar #brand h1{
    float: right;
    margin-right: 20px;
    color: silver;
    line-height:80px;
    -webkit-animation: title 7s ease-out;
    -moz-animation: title 7s ease-out;
    -o-animation: title 7s ease-out;
    animation: title 7s ease-out;
}

/*                                                                           3 Sections*/

#navbar #heading{
    width: 500px;
    height: 80px;
    position: relative;
    margin: 10px 10px 10px 30px;
    float: left;
}

#navbar #heading ul li{
    display: inline;
    float: left;
}

#navbar #heading a{
    display: block;
    width: 120px;
    height: 80px;
    margin-left: 38px;
    padding: 0;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
    color: silver; 
}

.homePage {
    -webkit-animation: title 8s ease-out;
    -moz-animation: title 8s ease-out;
    -o-animation: title 8s ease-out;
    animation: title 8s ease-out;
}

.expPage {
    -webkit-animation: title 9s ease-out;
    -moz-animation: title 9s ease-out;
    -o-animation: title 9s ease-out;
    animation: title 9s ease-out;
}

#abtPage {
    -webkit-animation: title 10s ease-out;
    -moz-animation: title 10s ease-out;
    -o-animation: title 10s ease-out;
    animation: title 10s ease-out;
}

#navbar #heading a:hover{
    text-shadow: 1px 1px 2px blue;
}

/*                                                                      Social links*/

#navbar #socialHrefs{
    width: 150px;
    height: 80px;
    margin: 10px 10px 10px 20px;
    position: relative;
    float: left;
    display: inline;
}

#navbar #socialHrefs .instagram{
    width: 45px;
    height: 45px;
    margin: 15px 3px ;
    display: inline;
    float: left;
}

#navbar #socialHrefs .facebook{
    width: 45px;
    height: 45px;
    margin: 15px 15px;
    display: inline;
    float: left;
}

@-webkit-keyframes drops{
    0%{
        opacity: 0;
        color: white;
    }
    70%{
        opacity: .3;
        color: floralwhite;
    }
    100%{
        opacity: 1;
        color: #5c88ff;
    }
}

@-moz-keyframes drops{
    0%{
        opacity: 0;
        color: white;
    }
    70%{
        opacity: .3;
        color: floralwhite;
    }
    100%{
        opacity: 1;
        color: #5c88ff;
    }
}

@-o-keyframes drops{
    0%{
        opacity: 0;
        color: white;
    }
    70%{
        opacity: .3;
        color: floralwhite;
    }
    100%{
        opacity: 1;
        color: #5c88ff;
    }
}

@keyframes drops{
    0%{
        opacity: 0;
        color: white;
    }
    70%{
        opacity: .3;
        color: floralwhite;
    }
    100%{
        opacity: 1;
        color: #5c88ff;
    }
}

.instagram a{
    -webkit-animation: drops 7s ease-in;
    -moz-animation: drops 7s ease-in;
    -o-animation: drops 7s ease-in;
    animation: drops 7s ease-in;
}

.facebook a{
    -webkit-animation: drops 8s ease-in;
    -moz-animation: drops 8s ease-in;
    -o-animation: drops 8s ease-in;
    animation: drops 8s ease-in;
}
                                                           
#navbar #socialHrefs a{
    display: block;
    color: #5c88ff;
    line-height: 45px;
    text-align: center;
    font-size: 38px;
    font-family: Alfredo, sans-serif;
}

#navbar #socialHrefs a:active{
    background: oldlace;
}

.instagram a:hover{
    content: url("http://seeklogo.com/images/I/instagram-new-2016-logo-4773FE3F99-seeklogo.com.png");
    width: 45px;
    height: 45px;
    display: block;
}

.facebook a:hover{
    content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png");
    width: 45px;
    height: 45px;
    display: block;
}

/*                                                                                  Main Blog*/

#mainBlog{
    width: 100%;
    min-height: 427px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    display: block;
    background: url("https://www.clipartsgram.com/image/1171918680-3d-blue-squares-vector-backgrounds-3.png");
    background-size: cover;
    position: relative;
}

@keyframes lineFlow{
    from{width: 0; background: linear-gradient(to right, white, blue);}
    to{width: 100%; background: linear-gradient(to right, white, blue);}
}

#mainBlog .animationLine{
    width: 333px;
    height: 3px;
    background: transparent;
    bottom: 31.5%;
    left: 37.2%;
    transform: rotate(-55deg);
    position: absolute;

}

#innerBlog{
    position: absolute;
    width: 333px;
    height: 3px;
    background: transparent;
    -webkit-animation: lineFlow 1s ease-in 10s;
    -moz-animation: lineFlow 1s ease-in 10s;
    -o-animation: lineFlow 1s ease-in 10s;
    animation: lineFlow 1s ease-in 10s;
}

#mainBlog .animationSecondLine{
    width: 374px;
    height: 3px;
    background: transparent;
    bottom: 38.5%;
    left: 53.8%;
    transform: rotate(35deg);
    position: absolute;
}

#innerBlogSecond{
    position: absolute;
    width: 374px;
    height: 3px;
    background: transparent;
    -webkit-animation: lineFlow 1s ease-in 10.8s;
    -moz-animation: lineFlow 1s ease-in 10.8s;
    -o-animation: lineFlow 1s ease-in 10.8s;
    animation: lineFlow 1s ease-in 10.8s;
}

#mainBlog .animationThirdLine{
    width: 68px;
    height: 3px;
    background: transparent;
    bottom: 6.8%;
    left: 75.1%;
    transform: rotate(305deg);
    position: absolute;
}

#innerBlogThird{
    position: absolute;
    width: 68px;
    height: 3px;
    background: transparent;
    -webkit-animation: lineFlow 1s ease-in 11.6s reverse;
    -moz-animation: lineFlow 1s ease-in 11.6s reverse;
    -o-animation: lineFlow 1s ease-in 11.6s reverse;
    animation: lineFlow 1s ease-in 11.6s reverse;
}



/*                                                                                         Footer*/

#footer{
    width: 100%;
    min-height: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
}

#footer span{
    color: white;
    font-size: 17px;
}

#footer .copy{
    float: left;
    margin: 10px 0 0 30px;
}

#footer .copy sup{
    font-size: 8px;
}

#footer .rights{
    float: right;
    margin: 10px 30px 0 0;
}

@-webkit-keyframes footAnim{
    0%{width: 0;}
    70%{width: 0}
    100%{width: 100%}
}

@-moz-keyframes footAnim{
    0%{width: 0;}
    70%{width: 0}
    100%{width: 100%}
}

@-o-keyframes footAnim{
    0%{width: 0;}
    70%{width: 0}
    100%{width: 100%}
}

@keyframes footAnim{
    0%{width: 0;}
    70%{width: 0}
    100%{width: 100%}
}

#footer .footAnimate{
    -webkit-animation: footAnim 9s ease-in;
    -moz-animation: footAnim 9s ease-in;
    -o-animation: footAnim 9s ease-in;
    animation: footAnim 9s ease-in;
    background: linear-gradient(to right, silver,silver, #5c88ff);
    width: 100%;
    height: 50px;
}
    
















