*{
  outline: none;
  text-decoration: none;
  list-style-type: none;
}
*html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}

#container{
  width: 100%;
}

#navbar{
  width: 80%;
  height: 200px;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  
}


@keyframes brandImage{
  from{left: 0;
  transform: rotate(0deg);
  }
  to{left: 70px;
  transform: rotate(360deg;);
  }
}

#brandImg{
  animation-name: brandImage;
  animation-duration: 2s;
}
